/* html{
    font-size: 10px;
} */
*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100%;
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono" , monospace;
}
.logo{
    text-align: center;
    margin-top: 1.7rem;
    margin-bottom: 2.3rem;
   
}
.tip-calculator{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding:2rem 2rem 2rem 2rem;
    border-radius: 1.4rem 1.4rem 1.4rem 1.4rem;
    margin: auto auto auto auto;
    height: auto;
    width: 80%;
   

}

label{
    color: hsl(185, 14%, 43%);
    font-family: 700;
    margin-bottom: 0.3 rem;
}

input{
    /* min-width:calc(); */
    border: none;
    outline: none;
    padding:0rem 1rem 0rem 1rem ;
    /* padding-right: 18px; */
    background-position: 17px 15px;
    background-repeat: no-repeat;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    font-size: 24px;
    color: hsl(183, 100%, 15%);
    font-weight: bolder;
    font-family: "Space Mono" , monospace;
}

.bill-input{
    background-color: url();
    margin-bottom: 36px;
}

.tip{
    margin-top: 0.7rem;
    display: grid;
    grid-template-columns: 144px 144px;
    row-gap: 2rem;
    column-gap: 18px;
    margin-bottom: 2rem;
}

.tips{
    background-color: hsl(183, 100%, 15%);
    color: white;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
}
.active-tips{
    color: hsl(183, 100%, 15%);
    background-color: hsl(173, 67%, 45%);
    font-weight: bolder;
}

.people-input{

    background-image: url();
    margin-bottom: 2.4rem;

}
.result{

    background-color: hsl(183, 100%,15%);
    color: white;
    padding: 39px 21px;
    border-radius: 12px;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* align-items: flex-end; */
    /* display: inline; */

}

.tip-amount, .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.7rem;
}

.person{
    font-size: 12px;
    color: hsl(184, 14%,56%);
    font-weight: 700;
}

.amount{
    font-size: 28px;
    color: hsl(172, 67%, 45%);
    font-weight: 700;
}

.reset{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    padding: 9px 0 9px 0;
    cursor: pointer;
    /* align-self: flex-start;
    justify-items: center; */
}

#tip-custom input{
    box-sizing: border-box;
    width: 100%;
}

.peopleLabe1{
    display: flex;
    justify-content: space-between;

}
.error{
    color: red;
    display: none;
}

@media only screen and (max-width : 700px){
       
    .tip-calculator{
        flex-direction: column;
        border-radius: 1.4rem;
        padding: 2.3rem;
    }

}
@media only screen and (max-width : 450px){

    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* background-color: rgb(174, 212, 177); */
        padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem 1rem 1rem 1rem ;
    }

    .tip-calculator{
        flex-direction: column;
        border-radius: 1.4rem;
        padding: 2.3rem 2.3rem 2.3rem 2.3rem;
        margin: 1rem 1rem 1rem 1rem   ;
        /* font-size: ; */
        display: contents;
    }

    .partone{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    input{
        display: flex;
        /* background-color: red; */
        /* flex-wrap: wrap; */
        /* flex-shrink: 5; */
        margin: 0.5rem 0.5rem 0.5rem 0.5rem; 
        width:min-content;
        align-items:flex-start;
        text-align: center;
    }

    .tip{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }
    .tips{
        display: flex;
        /* flex-wrap: wrap; */
        text-align: center;
        width: fit-content;

       
    }

}
@media only screen and (max-width : 270px){

    .tip{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .result{

        background-color: hsl(183, 100%,15%);
        color: white;
        padding: 39px 21px;
        border-radius: 12px;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 70%;
        /* align-items: flex-end; */
        /* display: inline; */
    
    }
    .tip-amount{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .total{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

}
  
